@mixin button-size($height, $padding-y, $padding-x, $font-size, $line-height) {
  height: $height;
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 10%),
  $hover-border: lighten($border, 5%),
  $hover-color: $color,
) {
  background: $background;
  border-color: $border;
  color: $color;

  &:hover {
    background: $hover-background;
    border-color: $hover-border;
  }

  &:focus {
    outline: lighten($background, 30%) solid 3px;
  };
}

@mixin alert-style($color) {
  border-color: $color;
  color: $color;
}

@mixin zoom-in(
  $direction: 'top',
  $scaleStart: scaleY(0.5),
  $scaleEnd: scaleY(1),
  $origin: center top,
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0.5;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms, opacity 300ms;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
    transform: $scaleEnd;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transform-origin: $origin;
    transition: transform 300ms, opacity 300ms;
  }
}
