$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue: #23a6f0 !default;
$green: #40bb15 !default;

$primary:    $blue !default;
$secondary1: $green !default;
$secondary2: $gray-800 !default;

$disabled: #2a7cc7 !default;
$mute:     #bdbdbd !default;
$success:   #2dc071 !default;
$warning:    #E77C40 !default;
$danger:   #e74040 !default;

$secondary-text: #737373 !default;

$theme-colors: (
  'primary': $primary,
  'mute': $mute,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
);

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// 字体大小
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-root:              null !default;

// 字重
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

// 行高
$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

// 标题大小
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// 链接
$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

// body
$dark-background:  #252b42 !default;
$light-background: $white !default;
$body-bg:          $light-background !default;
$body-color:       $gray-900 !default;
$body-text-align:  null !default;
$btn-disabled-opacity: 0.5;

// button
$btn-padding-x: 2rem;
$btn-padding-y: 0.625rem;
$btn-radius: 0.3125rem;
$btn-font-size: 0.875rem;
$btn-height: 2.5rem;
$btn-line-height: 1rem;
$btn-outline-size: 0.1875rem;

// button sm
$btn-padding-x-sm: 1.25rem;
$btn-padding-y-sm: 0.3125rem;
$btn-font-size-sm: 0.875rem;
$btn-height-sm: 1.875rem;
$btn-line-height-sm: 1rem;

// button lg
$btn-padding-x-lg: 1.5rem;
$btn-padding-y-lg: 0.625rem;
$btn-font-size-lg: 1.5rem;
$btn-height-lg: 3.75rem;
$btn-line-height-lg: 2rem;

// alert
$alert-padding-x: 1.5rem;
$alert-padding-y: 1.5rem;

// tabs
$tabs-navs-item-x: 1.5rem;
$tabs-navs-item-y: 0.5rem;
$tabs-navs-bottom-line: $gray-200;
$tabs-item-x: 0.5rem;
$tabs-item-y: 1rem;

// input
$input-height: 3.125rem;
$input-border: 1px #e6e6e6 solid;
$input-border-radius: 5px;
$input-padding-y: 0;
$input-padding-x: 1rem;
$input-font-size: 1rem;
$input-outline-color: lighten($primary, 25%);