.alert {
  display: flex;
  align-items: center;
  height: 4.25rem;
  border: 1px solid $primary;
  box-sizing: border-box;
  padding: $alert-padding-y $alert-padding-x;
  min-width: 43.75rem;
  box-shadow: 0 13px 19px rgba($color: #000, $alpha: 0.07);
  
  .icon {
    margin-right: 0.5rem;
  }

  &-primary {
    @include alert-style($primary);
  }

  &-danger {
    @include alert-style($danger);
  }

  &-success {
    @include alert-style($success);
  }

  &-warning {
    @include alert-style($warning);
  }

  &-title {
    flex: 1;
    font-size: 1rem;
    line-height: $line-height-base;
  }

  &-close-btn {
    color: inherit;
    border: none;
    background-color: transparent;

    .icon {
      margin-right: 0;
    }
  }
}
